<div class="modal">
  <div class="modal-header">
    <h2 class="modal-titulo" id="modalTitulo">Agregar Nuevo Material</h2>
    <button class="modal-close" id="modalClose">X</button>
  </div>
  <div class="modal-body">
    <form id="addMaterialForm" action="">
      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <select class="form-select" id="categoria" required>
          <option value>Seleccionar Categoria</option>
          <option value="matematicas">Matemáticas</option>
          <option value="ciencias">Ciencias</option>
          <option value="historia">Historia</option>
          <option value="idiomas">Idiomas</option>
          <option value="tecnologia">Tecnología</option>
        </select>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <textarea id="descripcion" class="form-control" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <label for="archivo">Archivo</label>
        <input type="file" id="archivo" class="form-control" required>
        <small>"Formatos permitidos: PDF, DOC, DOCX, PPT, PPTX, XLS, XLSX, TXT, JPG, JPEG, PNG, GIF, MP4, MP3, ZIP. Tamaño máximo: 10MB."</small>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar Material</button>
      </div>
    </form>
  </div>

</div>
