<div class="background"><mat-card class="register-card">
  <h2>Registrarse en </h2>
  <img src="assets/img/logo.png" class="logo" alt="l">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombres</mat-label>
      <input matInput type="text" formControlName="nombres" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apellidos</mat-label>
      <input matInput type="text" formControlName="apellidos" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option value="USUARIO">Usuario</mat-option>
        <mat-option value="ADMINISTRADOR">Administrador</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit">
      Registrarse
    </button>
  </form>
</mat-card>
</div>
